<head>
	<title><%= @user.username %> - Single Mingle</title>
</head>
<h1><%= @user.username %></h1>
<h3><%= @user.headline %></h3>
<p><%= @user.description %></p>
Looking for: <%= @user.looking_for %>